* {
    transition: 0.2s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
}
