* {
    transition: 0.2s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.9);
    border-radius: 9999px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: #242424;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
}

p {
    @apply text-justify text-sm leading-6;
}

button,
.next-link {
    @apply active:scale-95;
}

.link {
    @apply hover:underline focus:underline underline-offset-8 cursor-pointer text-sm;
}

input,
textarea {
    @apply bg-mx-200 focus:bg-mx-100 p-2 rounded outline-none text-mx-500;
}

.btn {
    @apply bg-mx-500 px-4 py-2 rounded-full my-32 text-mx-100 active:scale-95 hover:bg-mx-300 hover:text-mx-500 bg-texture2;
}

.flex-jb {
    @apply flex justify-between items-end;
}
